/* Normalize */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

html{
    font-family: 'Fira Sans', sans-serif;
}

.signature{
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    color: white;
    z-index: 5;
    margin-top: 6em;
}

.cap1{
  font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: white;
    z-index: 5;
    margin-top: 1em;
}

header{
    background-image: url(img/bg2.jpg);
    background-size: 100% 100%;
    border-style: groove;
    border-width: 1em;
    border-color: slategrey;
    height: 700px;
}

body {
    height: 100%;
    background: green;
    background: url(img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page-wrapper-port{
    background: url(img/cbloxx.jpg);
    background-size: 100% 100%;
    height: 1600px;
    border-style: groove;
    border-width: 1em;
    border-color: slategrey;
    height: 600px;
    width: 80%;
    margin: 1em auto;
    overflow: scroll;
}

.page-wrapper1{
    background: url(img/deadgirl.png);
    background-size:70% 100%;
    background-position: center;
    height: 1600px;
    border-style: groove;
    border-width: 1em;
    border-color: slategrey;
    height: 600px;
    width: 80%;
    margin: 1em auto;
}

.page-wrapper-index{
    background: url(img/girl1.jpg);
    background-size: 100% 100%;
    height: 1600px;
    border-style: groove;
    border-width: 1em;
    border-color: slategrey;
    height: 600px;
    width: 80%;
    margin: 1em auto;
}

.about{
    background: rgba(255,0,0,.5);
    border: groove;
    margin: 1em 1em;
    width: 40%;
    height: 90%;
    float: right;
    overflow: scroll;
}

.about p{
    font-size: 1.5em;
    margin: 5px;
    padding: 5px;
    text-align: center;
    
}

.about h2{
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}



/* just for funsies */


@keyframes shadow {
	from { text-shadow: 0 0 #FF4BA8; }
	to { text-shadow: .15em .15em #FF4BA8; }
}

@keyframes color {
	from { color: whitesmoke; }
	to { color: cadetblue; }
}

@keyframes rotation {
	from { transform: rotate(-2deg); }
	to { transform: rotate(2deg); }
}

.pc{
    font-size: 3em;
    animation-name: shadow, rotation, color;
	animation-duration: 2s, 1s, 3s;
	animation-timing-function: ease-in, ease-out, ease-in-out;
	animation-iteration-count: infinite;
  animation-direction: alternate;
    margin: 0 auto;
    padding: .3em;
    position: relative;
    top: 16px;
    z-index: 5;
    text-align: center;
}




/* Form */


form {
    margin: 4em auto;
    width: 343px;
    height: 333px;
    padding:30px;
    border: 1px solid rgba(0,0,0,.6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.8); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea{
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Fira Sans', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:15px;
    padding-right:60px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 276px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Fira Sans', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
	  padding-left:15px;
      padding-right: 47px;
}

input.email {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
	  padding-left:15px;
      padding-right: 47px;
}

input.message {
	  background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
      padding-right: 45px;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}

input:focus, textarea:focus { 
	  background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	  overflow: hidden; 
}

.btn {
	  width: 138px;
	  height: 44px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	  float:right;
    border: 1px solid #253737;
    background: cadetblue;
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover {
    background: mediumvioletred;
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    color: #fff;
 }

.btn:active {
    background-color: mediumvioletred;
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }








/* portfolio */

main{
  display: flex;
  flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

figure {
  margin: 1em 1em;
  background: #333;
  border-radius: 5px;
  color: #fff;
  padding: .5em;
  width: 200px;
  height: 300px;
}

.tab{
    width: 150px;
    height: 150px;
    margin-bottom: 1em;
}

.fullsize{
    width: 600px;
    height: 450px;
}
/* overlay-1 */

/* Fullsize Overlay/Lightbox/Modal */
/* Hide It */
.overlay {
  display: none;
  
  /* Overlay Styling */
  background: rgba(0,0,0,.25);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  
}

/* Show It */
.overlay:target {
  display: block;
  
  /* Contents of Overlay */
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;  
  
  min-height: 50vh;
  
  /* Animation */
  animation: fadeish 1s;
  
}

/* EXTRA STYLING */
.overlay img {
  border: 10px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px #333;
}


@keyframes fadeish {
  0% { 
    opacity: 0;
    transform: scale(0);
  }
  
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}



/* nav */

.l1 {
  color: cadetblue;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
    width: 65%;
 display: flex;
  align-items: center;
	justify-content: center;
    margin-right: 13px;
}

.mid{
    margin-left: -50px;
}

@-webkit-keyframes l1 {
  
  15% {
    margin-left: 0;
    text-shadow: none;
  }
  
  45%, 55% {
    margin-left: 1.25em;
    -webkit-text-stroke: 6px #FFF;
    text-shadow:
    -4px 0 #fff,
    -8px 0 #FFE6E9,
    -12px 0 #FFD4DA,
    -16px 0 #FCBCC5,
    -20px 0 #FEA9B6,
    -24px 0 #FC95A6,
    -28px 0 #FF8297,
    -32px 0 #FF738B,
    -36px 0 #FF647E,
    -40px 0 #FF516E,
    -44px 0 #FF3F5F,
    -48px 0 #FF2D50,
    -52px 0 #FF2045,
    -56px 0 #FC143A,
    -60px 0 #FC0C34,
    -64px 0 #FF001F;
  }
  
}

.l1:hover{ -webkit-text-stroke: 6px #FF001F;
  -webkit-animation: l1 3.5s ease-out infinite;}


.container1 {
	display: flex;
	width: 100%;
	background-color: #333333;
	border-top: 5px solid grey;
	border-bottom: 5px solid grey;
}


.rightclip {
	width: 35%;
	background: linear-gradient(#FF4BA8, #6D0B13);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}



